.swiper_item {
    width: 100%; padding-top: 66%; position: relative;
    margin: 0 auto;
  }

  .small_images_container{
    width: 100%; margin-top: 1rem;
    display: flex; flex-shrink: initial;
    align-items: center; justify-content:space-around;
    position: relative;  
  }

  .small_image{
    position: relative; width: 21.2%; padding-top: 17%;
    margin: 1%;
    cursor: pointer;
    border: none;
    opacity: 0.5;
    /* //we must specify opacity in the transition so as 
    //to prevent the div to shake  */
    transition: opacity 0.3s linear; 

    
}

.navActive{
    opacity: 1;
    border: solid 1px grey
}


.next, .prev{
  position: absolute; z-index: 2;
  font-size: 1.3rem;
  width: 2rem; height: 2rem;
  /* padding-top: 63%; passed as prop to the component*/
  top: 0;
  div{
    position: absolute;
    display: flex; justify-content: center; align-items: center;
    user-select: none; cursor: pointer;
    top: calc(50% - 0.5rem);
    background-color: rgba(255, 255, 255, 0.5);
    width: 2rem; height: 2rem;
    border-radius: 50%;
    transition: 0.3s ease-out;
    @media (hover: hover) {
    &:hover{background-color: var(--blue-sky);}
    }
    
  }
}

.next{
  right: 1%
}

.prev {
  left: 1%;
}