  .sliderWrapper {
    width: 100%; height: fit-content;
    position: relative; overflow: hidden;    
  }
  
  .slidesContainer {
    height: fit-content; width: 100%;
    display: flex;
    overflow: scroll; scroll-behavior: smooth; list-style: none;
    margin: 0; padding: 0;
  }
  
  //to add style to the <li> inside the container
  .slidesContainer > li {
    width: 100%; height: auto ; flex: 1 0 100%;  //height : auto ensure that all <li> will have the same height of the taller <li>
    display: flex; align-items: center; justify-content: center;
    background-color: aqua;
  }
  
  .scrollHide {
    overflow: hidden;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
  }
  
  /* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
  .scrollHide ::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
  
  
