.loading{
    margin-top: 3rem; width: 100%; text-align: center;
    height: 100vh;
}

.container{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    h2{
        width: 100%; text-align: center; margin: 2rem auto;
    }
}

table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: var(--black);
    border-style: solid;
    color: #000000;
    text-align: center;

    a{
        display: inline-block; width: 100%; padding-left: 1rem;
        color: var(--black-light);
        font-weight: 800; text-align: left;
        &:hover{
            color: var(--blue-velvet); 
        }
    }
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    
    border-width: 2px;
    border-color: var(--black);
    border-style: solid;
    padding: 0.3em;
  }
  
  table.GeneratedTable thead {
    background-color: var(--black);
    color: white
  }