.swiper_container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    touch-action: pan-y; /* prevent browser's default behavior on swiping horizontally */
  }
  
  .swiper_list {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-out;
  }

  .swiper_item {
    width: 100%; padding-top: 66%; position: relative;
    flex-shrink: 0;
    overflow-wrap:normal;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100%; margin: 0 auto
  }

  
  .swiper_list.is_swiping {
    transition: none;
  }

  .small_images_container{
    width: 100%; margin-top: 1rem;
    display: flex; flex-shrink: initial;
    align-items: center; justify-content:space-around;
    position: relative;  
  }

  .small_image{
    position: relative; width: 21.2%; padding-top: 17%;
    margin: 1%;
    cursor: pointer;
    border: none;
    opacity: 0.5;
    /* //we must specify opacity in the transition so as 
    //to prevent the div to shake  */
    transition: opacity 0.3s linear; 
}

.small_image:first-of-type{
  opacity: 1;
  border: solid 1px grey
}

