.swiper_item {
    width: 100%;
    flex-shrink: 0;
  }

.swiper_item div{
    overflow-wrap:normal;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 99%; margin: 0 auto
    
  }
  
.swiper_item img {
    width: 100%;
    height: auto; 
    margin: 0 auto;
    user-select: none;
  }