.container{

    display: flex; justify-content: center; align-items: center;
    padding-top: 3px;
    user-select: none; cursor: pointer;
    width: 35px; height: 35px;
    transition: 0.3s ease-out;
    border-radius: 50%;

    .empty{
        color: var(--black-light);
    }

    .fill{
        color: var(--red);
    }
}