.container{
    width: 75%; 
    text-align: center; margin: 0 auto;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    margin-bottom: 2rem; margin-top: 1rem;
    @media screen and (max-width: 580px){width: 100%}

    .notice_fieldsRequired{
        color: var(--red); border: 1px solid var(--red); font-size: 1.2em; margin-top: 1rem;
        width: 100%; padding: 0.5rem; font-weight: 700; display: none;
    }

    .notice_toProceedCheckout{
        color: var(--green); border: 1px dashed var(--green); font-size: 1.2em; margin-top: 1rem; margin-bottom: 0.5rem;
        width: 100%; padding: 0.5rem; font-weight: 700; display: none;
    }

    .userDataContainer{
        display: flex; flex-direction: column; align-items: center; justify-content: space-around;
        width: 100%; margin-top: 1rem;
        @media screen and (max-width: 580px){width: 100%; flex-direction: column; margin-top: 1rem;}

        .userDataInfo{
            text-align: center;
            font-size: 0.9em; color: var(--black-light); font-weight: 700;
            border: 2px solid var(--black); padding: 0.5rem;
            @media screen and (max-width: 580px){text-align: center;}
        }

        .userButtons{
            display: flex; justify-content: space-around; flex-wrap: wrap; 
            width: 100%;
            margin-top: 1rem;
            & > * {
                margin: 0.5rem;
            }
        }

    }

    .formContainer{
        width: 100%;
        display: flex; flex-direction: column; align-items: center; justify-content: center;
        margin-bottom: 2rem; margin-top: 1rem;

        h3{
            font-size: 1.1em; font-weight: 700; text-align: center;
            text-transform: uppercase;
            margin-top: 0.7rem; margin-bottom: 1rem;
        }

        label{
            font-weight: 700;
        }
        p{
            color: var(--green); font-weight: 400;
            font-size: 0.8em; display: inline-block;
        }

        .buttonsContainer{
            width: 100%; margin-top: 0.5rem;
            display: flex; justify-content: space-around; flex-wrap: wrap;
        }

        input{
            border: 0.1rem solid var(--blue-sky);
            font-size: 0.9em; 
            padding-top: 0.2rem;
            width: 100%;
            text-align: center;
        }

        ._2col_row{
            width: 100%; margin-bottom: 0.5rem;
            display: flex; flex-wrap: wrap;
            & > * {
                width: 50%; padding: 0.5rem;
            }
        }

        ._1col_row{
            width: 100%;  margin-bottom: 0.5rem;
            display: flex; flex-wrap: wrap;
            & > * {
                width: 100%; padding: 0.5rem;
            }
        }
        

    }

    h2{
        letter-spacing: 0.1em;
        color: var(--orange);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.7em;
        font-family: var(--font-gooddog);
    }
    
    .titles{
        margin-top: 2rem; 
    }


}



