.container{

    .products_container{
        margin: 0 auto; margin-bottom: 3rem;
        display: flex; flex-wrap: wrap; justify-content: center; row-gap: 1.3rem; column-gap: 1rem;
    }

    
    .h2_title {
        text-align: center; color: var(--orange);
        margin-bottom: 1rem; margin-top: 2.9rem;
    }

    & > p { 
        text-align: center;  font-weight: 700;
        margin-bottom: 2.35rem; padding: 0 4%;
    }

}






