//Loading Page CSS
//================================================================
.loadingPageContainer{
    align-items: center; justify-content: center;

    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    }
    .loadingPage{
        background-color: var(--orange);;
        display: flex; flex-direction: column;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .loader {
     --clr: black;
     /* color of spining  */
     width: 50px;
     height: 50px;
     position: relative;
     margin-top: 3rem;
    }
    .loader div:nth-child(1), .loader div:nth-child(2) {
     content: "";
     position: absolute;
     top: -15px;

     width: 100%;
     height: 100%;
     border-radius: 100%;
     border: 10px solid transparent;
     border-top-color: var(--clr);
    }
    .loader div:nth-child(1) {
     z-index: 100;
     animation: spin 1s infinite;
    }
    .loader div:nth-child(2) {
     border: 10px solid #ccc;
    }
    @keyframes spin {
     0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
     }
     100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
     }
    };


    .logovibe{
        display: flex;
        animation: opacity 5s linear 0s infinite;
        span{ display: block; font-size: 4rem;}

        .vibe1{
            animation: shake 4s ease-in 0s infinite reverse both;

        }
        .vibe2{
            animation: shake 4s ease-out 0s infinite reverse both;
        }
        .vibe3{
            animation: shake 4s ease-in-out 0s infinite reverse both;
        }
        .vibe4{
            animation: shake 4s ease-in-out 0s infinite reverse both;
        }
        .vibe5{
            animation: shake 4s ease-in 0s infinite reverse both;
        }
        .vibe6{
            animation: shake 4s ease-out 0s infinite reverse both;
        }
        .vibe7{
            animation: shake 4s ease-in 0s infinite reverse both;
        }

    }


    //LOGO KEYFRAMES
    //Letter 1===================================================
    @keyframes shake {
        0%,
        100% {
            transform: translateY(0);
        }
    
        10%,
        30%,
        50%,
        70% {
            transform: translateY(-8px);
        }
    
        20%,
        40%,
        60% {
            transform: translateY(8px);
        }
    
        80% {
            transform: translateY(6.4px);
        }
    
        90% {
            transform: translateY(-6.4px);
        }
    }

    @keyframes opacity {
        0% {
     
            scale: 1
        }

        50%{

            scale: 1.2
        }


    
        100% {

            scale: 1
            
        }
    }