/* Theme 1 */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
    font-family: 'Good Dog';
    src: url('gooddog-plain/gooddog-plain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('worksans/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 


:root{

    --font-worksans: 'Work Sans', sans-serif;
	--font-gooddog: 'Good Dog';
	--black: #000000;
    --black-light: #18272F;
    --red: #F23737;
    --orange: #FF6432;
    --salmon: #FFAA64;
    --gold: #FFAA2A;
	--pale: #FADCC8;
	--white: #FFFFFF;
    --blue-sea: #00237D;
	--blue-velvet: #016298;
	--green: #008C62;
	--green-light: #B9DCC8;
	--blue-sky: #A5CDEB;
	--grey: #D2D2D2;    
    --grey-dark: #828282;
    
}


/* Font Color */
.font-black{ color: var(--black)}
.font-white{ color: var(--white)}

/* Background Color */
.bkg-orange{ background-color: var(--orange)}
.bkg-red{ background-color: var(--red)}
.bkg-green{ background-color: var(--green)}
.bkg-gold{ background-color: var(--gold)}
.bkg-blue-velvet{ background-color: var(--blue-velvet)}

/* Hyperlinks */

/* PromoBar */
.promoBar-theme-orange{ color: var(--white); background-color: var(--orange);}
.promoBar-theme-blue{ color: var(--white); background-color: var(--blue-velvet);}
.promoBar-theme-green{ color: var(--white); background-color: var(--green);}

/* Opacity Overlay */
.overlay {
    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    background: var(--black);
    transition: 1s;
    visibility: visible;
    opacity: 0.8;
    z-index: 2;
}

/* Body */
body{
    overscroll-behavior: none;
}

/* Overriding The Default Text Selection Color */
::selection {
    background: var(--blue-sky); color: var(--black);
  }
::-moz-selection {
  background: var(--blue-sky); color: var(--black);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--blue-sky) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
    border-left: 1px solid #000000;
   /*  &:hover{
        background: var(--orange)
    } */
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--blue-sky);
    border-radius: 16px;
    border: 1px solid #1a1919;
    transition: background-color 1s ease;
    &:hover{
        background-color: var(--blue-velvet);
    }
  }

/* [data-title]:hover:after {
    visibility: visible;
}
  
[data-title]:after {
    content: attr(data-title);
    background-color: #4b9c2c;    
    color: #ffffff;
    font-size: 150%;
    position: absolute;
    padding: 4px 8px 4px 8px;
    visibility: hidden;
} */









