.notice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    li{
      margin-top: 0.5em;
    }
    hr{
        width: 100%;
        height: 0.15rem;
        margin: 1em auto;
        background-color: var(--black-light);
    }
    h2{
        width: 100%; text-align: center;
    }
}

table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: var(--black);
    border-style: solid;
    color: #000000;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: var(--black);
    border-style: solid;
    padding: 0.3em;
  }
  
  table.GeneratedTable thead {
    background-color: var(--black);
    color: white;
  }